## Class 6: URL importing- PM10 dataset example

The file title PM10 has information on pollutants measured in the air through 43 monitoring stations, located in 3 provinces of the Basque Country, Spain.

Find the dataset here:  https://wp.me/aa4oIl-2eP

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('https://wp.me/aa4oIl-2eP')
df.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
0,1,3_DE_MARZO,527141.4365,4.744883e+06,8.782967,21.189560,34.472527,13.518414,Araba/Álava,Vitoria-Gasteiz,"Plaza Tres de Marzo, s/n"
1,2,ABANTO,493987.1750,4.796407e+06,5.199446,16.462604,24.204420,12.486567,Bizkaia,Abanto y Ciérvana-Abanto Zierbena,"Avda. del Minero, 2. Ayuntamiento"
2,3,AGURAIN,549539.1393,4.744226e+06,4.480556,10.763889,17.708333,13.538674,Araba/Álava,Agurain/Salvatierra,"C/ Fueros, 11. Subcomisaría de la Ertzaintza."
3,4,ALGORTA_BBIZI2,498154.0000,4.801022e+06,6.953297,13.560440,24.123626,20.903846,Bizkaia,Getxo,"Carretera de Galea, s/n"
4,5,ALONSOTEGI,500972.2158,4.788307e+06,2.454545,11.559659,15.312500,12.463687,Bizkaia,Alonsotegi,"C/ Baztieta, s/n. Bº Irauregi"

In [3]:
df.count()

id                        43
ESTACION                  43
Coordenates X (ETRS89)    43
Coordenates Y (ETRS89)    43
NO (µg/m3)                43
NO2 (µg/m3)               43
NOX (µg/m3)               43
PM10 (µg/m3)              43
Province                  43
Town                      43
Address                   43
dtype: int64

### Group dataset by Province

In [4]:
df2=df.groupby(['Province'])
df2.count()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Town,Address
Province,,,,,,,,,,
Araba/Álava,7,7,7,7,7,7,7,7,7,7
Bizkaia,20,20,20,20,20,20,20,20,20,20
Gipuzkoa,16,16,16,16,16,16,16,16,16,16

### Creating new df based on each province
#### Method 1:

In [5]:
df_Araba = df[df['Province']=='Araba/Álava']
df_Araba.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
0,1,3_DE_MARZO,527141.4365,4.744883e+06,8.782967,21.189560,34.472527,13.518414,Araba/Álava,Vitoria-Gasteiz,"Plaza Tres de Marzo, s/n"
2,3,AGURAIN,549539.1393,4.744226e+06,4.480556,10.763889,17.708333,13.538674,Araba/Álava,Agurain/Salvatierra,"C/ Fueros, 11. Subcomisaría de la Ertzaintza."
9,10,AV_GASTEIZ,526086.0310,4.744738e+06,8.708791,21.247253,34.491758,15.936813,Araba/Álava,Vitoria-Gasteiz,"Avda. Gasteiz, 97"
18,19,ELCIEGO,531257.1773,4.707389e+06,0.771588,4.773371,6.155807,11.224852,Araba/Álava,Elciego,"C/ Gabriel Celaya, 8"
23,24,LLODIO,502977.4251,4.776810e+06,7.400000,19.448571,30.768571,14.580175,Araba/Álava,Laudio/Llodio,"C/ Lamuza, s/n"

In [6]:
df_Biskaia = df[df['Province']=='Bizkaia']
df_Biskaia.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
1,2,ABANTO,493987.1750,4.796407e+06,5.199446,16.462604,24.204420,12.486567,Bizkaia,Abanto y Ciérvana-Abanto Zierbena,"Avda. del Minero, 2. Ayuntamiento"
3,4,ALGORTA_BBIZI2,498154.0000,4.801022e+06,6.953297,13.560440,24.123626,20.903846,Bizkaia,Getxo,"Carretera de Galea, s/n"
4,5,ALONSOTEGI,500972.2158,4.788307e+06,2.454545,11.559659,15.312500,12.463687,Bizkaia,Alonsotegi,"C/ Baztieta, s/n. Bº Irauregi"
7,8,ARRAIZ_Monte,503208.6894,4.788084e+06,2.723944,9.776860,13.823691,12.347107,Bizkaia,Bilbao,"Camino de Arraiz, s/n"
12,13,BARAKALDO,501043.6789,4.793950e+06,6.577031,23.431373,32.983193,15.055556,Bizkaia,Barakaldo,"C/ Hogar propio, 7. CIFP Nicolás Larburu"

In [7]:
df_Gipuzkoa = df[df['Province']=='Gipuzkoa']
df_Gipuzkoa.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
5,6,ANDOAIN,579321.0000,4.785862e+06,9.400000,24.991667,39.250000,15.858333,Gipuzkoa,Andoain,Ikastola Aita larramendi
6,7,ANORGA,581469.0172,4.793568e+06,3.349862,15.011019,20.294766,11.667832,Gipuzkoa,Donostia / San Sebastián,"Avda. de Añorga, 12 (Añorga Txiki)"
8,9,ATEGORRIETA,584272.2271,4.797097e+06,13.087912,25.991758,45.895604,23.050000,Gipuzkoa,Donostia / San Sebastián,"Avda. Ategorrieta, 71"
10,11,AVDA_TOLOSA,580211.3250,4.795650e+06,9.244505,17.403846,31.239011,17.343558,Gipuzkoa,Donostia / San Sebastián,"C/ Andrestegi, 2"
11,12,AZPEITIA,559472.3000,4.781105e+06,7.908333,15.813889,27.911111,13.625000,Gipuzkoa,Azpeitia,"C/ Perdillegi, s/n"

#### Method 2:

In [8]:
df_Araba2=df2.get_group('Araba/Álava')
df_Araba2.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
0,1,3_DE_MARZO,527141.4365,4.744883e+06,8.782967,21.189560,34.472527,13.518414,Araba/Álava,Vitoria-Gasteiz,"Plaza Tres de Marzo, s/n"
2,3,AGURAIN,549539.1393,4.744226e+06,4.480556,10.763889,17.708333,13.538674,Araba/Álava,Agurain/Salvatierra,"C/ Fueros, 11. Subcomisaría de la Ertzaintza."
9,10,AV_GASTEIZ,526086.0310,4.744738e+06,8.708791,21.247253,34.491758,15.936813,Araba/Álava,Vitoria-Gasteiz,"Avda. Gasteiz, 97"
18,19,ELCIEGO,531257.1773,4.707389e+06,0.771588,4.773371,6.155807,11.224852,Araba/Álava,Elciego,"C/ Gabriel Celaya, 8"
23,24,LLODIO,502977.4251,4.776810e+06,7.400000,19.448571,30.768571,14.580175,Araba/Álava,Laudio/Llodio,"C/ Lamuza, s/n"

In [9]:
df_Bizkaia2=df2.get_group('Bizkaia')
df_Bizkaia2.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
1,2,ABANTO,493987.1750,4.796407e+06,5.199446,16.462604,24.204420,12.486567,Bizkaia,Abanto y Ciérvana-Abanto Zierbena,"Avda. del Minero, 2. Ayuntamiento"
3,4,ALGORTA_BBIZI2,498154.0000,4.801022e+06,6.953297,13.560440,24.123626,20.903846,Bizkaia,Getxo,"Carretera de Galea, s/n"
4,5,ALONSOTEGI,500972.2158,4.788307e+06,2.454545,11.559659,15.312500,12.463687,Bizkaia,Alonsotegi,"C/ Baztieta, s/n. Bº Irauregi"
7,8,ARRAIZ_Monte,503208.6894,4.788084e+06,2.723944,9.776860,13.823691,12.347107,Bizkaia,Bilbao,"Camino de Arraiz, s/n"
12,13,BARAKALDO,501043.6789,4.793950e+06,6.577031,23.431373,32.983193,15.055556,Bizkaia,Barakaldo,"C/ Hogar propio, 7. CIFP Nicolás Larburu"

In [10]:
df_Gipuzkoa2=df2.get_group('Gipuzkoa')
df_Gipuzkoa2.head()

,id,ESTACION,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province,Town,Address
5,6,ANDOAIN,579321.0000,4.785862e+06,9.400000,24.991667,39.250000,15.858333,Gipuzkoa,Andoain,Ikastola Aita larramendi
6,7,ANORGA,581469.0172,4.793568e+06,3.349862,15.011019,20.294766,11.667832,Gipuzkoa,Donostia / San Sebastián,"Avda. de Añorga, 12 (Añorga Txiki)"
8,9,ATEGORRIETA,584272.2271,4.797097e+06,13.087912,25.991758,45.895604,23.050000,Gipuzkoa,Donostia / San Sebastián,"Avda. Ategorrieta, 71"
10,11,AVDA_TOLOSA,580211.3250,4.795650e+06,9.244505,17.403846,31.239011,17.343558,Gipuzkoa,Donostia / San Sebastián,"C/ Andrestegi, 2"
11,12,AZPEITIA,559472.3000,4.781105e+06,7.908333,15.813889,27.911111,13.625000,Gipuzkoa,Azpeitia,"C/ Perdillegi, s/n"

#### Method 3:

In [11]:
df_sub = df.loc[:, ['NO (µg/m3)', 'NO2 (µg/m3)', 'NOX (µg/m3)', 'PM10 (µg/m3)', 'Province']]
df_sub.head()

   NO (µg/m3)  NO2 (µg/m3)  NOX (µg/m3)  PM10 (µg/m3)     Province
0    8.782967    21.189560    34.472527     13.518414  Araba/Álava
1    5.199446    16.462604    24.204420     12.486567      Bizkaia
2    4.480556    10.763889    17.708333     13.538674  Araba/Álava
3    6.953297    13.560440    24.123626     20.903846      Bizkaia
4    2.454545    11.559659    15.312500     12.463687      Bizkaia

#### Method 4:

In [12]:
df_sub2 = df.iloc[:,2:9]
df_sub2.head()

,Coordenates X (ETRS89),Coordenates Y (ETRS89),NO (µg/m3),NO2 (µg/m3),NOX (µg/m3),PM10 (µg/m3),Province
0,527141.4365,4.744883e+06,8.782967,21.189560,34.472527,13.518414,Araba/Álava
1,493987.1750,4.796407e+06,5.199446,16.462604,24.204420,12.486567,Bizkaia
2,549539.1393,4.744226e+06,4.480556,10.763889,17.708333,13.538674,Araba/Álava
3,498154.0000,4.801022e+06,6.953297,13.560440,24.123626,20.903846,Bizkaia
4,500972.2158,4.788307e+06,2.454545,11.559659,15.312500,12.463687,Bizkaia

In [13]:
df_sub2.to_csv('pm10_subset.csv', encoding='utf-8-sig')