## Geospatial Data Modeling

Check the dataset p4hd: http://mansci-web.uai.cl/minelib/p4hd.xhtml (XLSX and CSV extensions)

### Unit I: Importing Block Model

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Importing as a xlsx file

In [2]:
df = pd.read_excel('p4hd.xlsx')
df.head()

,id,x,y,z,tonn,blockvalue,destination,Au (oz/ton),Ag (oz/ton),Cu (%)
0,0,58,11,64,3120.0,-5116,2,0.0,1.108,0.0
1,1,59,11,64,3120.0,-4087,1,0.0,1.108,0.0
2,2,60,11,64,3120.0,-4087,1,0.0,1.108,0.0
3,3,61,11,64,3120.0,-4087,1,0.0,1.108,0.0
4,4,56,12,64,3120.0,-5116,2,0.0,1.108,0.0

In [3]:
header = list(df.columns) # Crea lista con los nombres de las columnas

### Importing as a txt file

In [4]:
df = pd.read_csv('p4hd.txt', sep=" ", names = header)
df.head()

,id,x,y,z,tonn,blockvalue,destination,Au (oz/ton),Ag (oz/ton),Cu (%)
0,0,58,11,64,3120.0,-5116,2,0.0,1.108,0.0
1,1,59,11,64,3120.0,-4087,1,0.0,1.108,0.0
2,2,60,11,64,3120.0,-4087,1,0.0,1.108,0.0
3,3,61,11,64,3120.0,-4087,1,0.0,1.108,0.0
4,4,56,12,64,3120.0,-5116,2,0.0,1.108,0.0

In [5]:
df.count()

id             40947
x              40947
y              40947
z              40947
tonn           40947
blockvalue     40947
destination    40947
Au (oz/ton)    40947
Ag (oz/ton)    40947
Cu (%)         40947
dtype: int64

### Total amount of blocks by destination

In [6]:
df.groupby("destination").count()

,id,x,y,z,tonn,blockvalue,Au (oz/ton),Ag (oz/ton),Cu (%)
destination,,,,,,,,,
1,22387,22387,22387,22387,22387,22387,22387,22387,22387
2,18560,18560,18560,18560,18560,18560,18560,18560,18560

### Mean Mineral and Waste Tonnage by destination

In [7]:
df.groupby("destination").mean()[["tonn"]]

                    tonn
destination
1            4170.707463
2            4089.688728

### Total Mineral and Waste Tonnage by destination

In [8]:
total_tonn = df.groupby("destination").sum()[["tonn"]]
total_tonn.style.format("{:.2f}") # Da formato a los valores del df (2 decimales)

### Stripping Ratio
#### SR = Waste Tonnage / Mineral Tonnage

In [9]:
sr = total_tonn['tonn'].values[1]/total_tonn['tonn'].values[0]
sr

0.8129476838485131